////////////////////////
// saveINTE Hero Site //
////////////////////////


// Imports

@import 'compass_twitter_bootstrap';
@import 'compass_twitter_bootstrap_responsive';

@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/filter';
@import 'compass/css3/opacity';
@import 'compass/css3/text-shadow';
@import 'compass/css3/transition';


// Base styles

img { max-width: 100%; }


// Grid system

.g-1x1 { width: 25%; padding-bottom: 25%; }
.g-2x2 { width: 50%; padding-bottom: 50%; }
.g-2x1 { width: 50%; padding-bottom: 25%; }

@media (max-width:600px) {
    .g-1x1 { width: 50%; padding-bottom: 50%; }
    .g-2x2 { width: 100%; padding-bottom: 100%; }
    .g-2x1 { width: 100%; padding-bottom: 50%; }    
}



/////////////////////
// The Hero Banner //
/////////////////////

.hero-banner {}




///////////////////
// The Hero Grid //
///////////////////

.hero-grid { width: 100%; }


// A box in our grid of different types of content

.hero-box {}

.hero-box--inner { position: absolute; top: 5px; right: 5px; bottom: 5px; left: 5px; background: #B4D455; }


// Different types of hero box

.hero-box__photo    { @extend .g-2x2; }
.hero-box__text     { @extend .g-1x1; }
.hero-box__video    { @extend .g-2x2; }


// Different parts of the hero box

.hero-box--title {
    position: absolute;
    top:5px; right: 5px; left: 5px;
    margin: 0;
    padding: 5px;
    color: #fff;
    @include text-shadow(1px 1px 2px rgba(0, 0, 0, 0.68));
}

.hero-box--caption { position: absolute; right: 5px; bottom: 5px; left: 5px; margin: 0; padding: 5px; }

.hero-box--image {
    position: relative;
    z-index: 10;

    width: 100%; height: 100%;
    margin: 0;

    background-size: auto 100%;
    background-position: 50% 50%;

    @include filter(saturate(24%));
}

.hero-box--video { @extend .hero-box--image; }

.hero-box--vine-embed       { @extend .hero-box--video; }
.hero-box--youtube-embed    { @extend .hero-box--video; }

.hero-box--vine-embed, .hero-box--image { @include transition(all 250ms ease-in-out)}


// Different states of a hero box

.hero-box:hover {
    .hero-box--vine-embed, .hero-box--image { @include filter(saturate(100%)); }

    &.hero-box__video {
        .hero-box--title    { display: none; }
        &:after             { display: none; }
    }
}

// § //








