////////////////////////
// saveINTE Hero Site //
////////////////////////


// Imports

@import 'compass_twitter_bootstrap';
@import 'compass_twitter_bootstrap_responsive';

@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/filter';
@import 'compass/css3/opacity';
@import 'compass/css3/text-shadow';


// Variables

$pink: rgb(240, 32, 81);
$dark-grey: rgb(103, 103, 103);
$off-white: rgb(225, 222, 211);

$proxima-stack: 'proxima-nova', 'helvetica neue', helvetica, sans-serif;



// Base styles

html { font-family: $proxima-stack; line-height: 1.5; }
body { background: darken($dark-grey, 24%); font-family: $proxima-stack; color: #fff; }
img { max-width: 100%; }

h1, h2, h3, h4 { font-family: $proxima-stack; font-weight: 600; line-height: 1; text-transform: uppercase; }

h1 { font-size: 30px; }

h2 { font-size: 24px; }

h3 { font-size: 18px; font-weight: 600; }

h4 { font-size: 14px; line-height: 18px; font-weight: 300; }


// Utilities

.clearfix {
    zoom: 1;

    &:after     { content: ''; display: table; clear: both; }
    &:before    { content: ''; display: table; }
}

.button,
.button:hover {
    display: block;

    background: $pink;

    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.big-button,
.big-button:hover { 
    @extend .button; 
    
    @include background-image(linear-gradient(bottom, darken($pink, 6%) 0%, darken($pink, 3%) 100%));
    @include box-shadow(0px 6px 0px darken($pink, 12%));
    
    border: 1px solid #C60D39;
    font-size: 24px;
    padding: 50px 20px;

    &:active {
        @extend .big-button;

        @include background-image(linear-gradient(bottom, darken($pink, 8%) 0%, darken($pink, 12%) 100%));
        @include box-shadow(0px 2px 0px darken($pink, 20%));
        @include translateY(6px);

        color: #f5f5f5;
    }
}


@media (max-width: 480px) {
    .big-button,
    .big-button:hover { padding: 20px 10px; }
}


// Grid system

.g-1x1 { width: 24.88%; padding-bottom: 24.88%; margin: 0; }
.g-2x2 { width: 49.88%; padding-bottom: 49.88%; margin: 0; }
.g-2x1 { width: 49.88%; padding-bottom: 24.88%; margin: 0; }

@media (max-width: 979px) {
    .g-1x1 { width: 49.88%; padding-bottom: 24.88%; }
    .g-2x1 { width: 49.88%; padding-bottom: 49.88%; margin: 0; }
}

@media (max-width: 800px) {
    .g-1x1 { width: 49.88%; padding-bottom: 49.88%; }
    .g-2x1 { width: 49.88%; padding-bottom: 49.88%; }
}

@media (max-width: 600px) {
    .g-1x1 { width: 49.88%; padding-bottom: 49.88%; }
    .g-2x2 { width: 99.88%; padding-bottom: 99.88%; }
    .g-2x1 { width: 99.88%; padding-bottom: 49.88%; }    
}

@media (max-width: 460px) {
    .g-1x1 { width: 99.88%; padding-bottom: 49.88%; }
}



/////////////////////
// The Hero Banner //
/////////////////////

.hero-banner { height: 290px; padding: 35px 0; background-image: url(../images/pano.jpg); }

.hero-banner--logo {
    width: 385px;
    height: 290px;
    margin: 0 auto;
    background-image: url(../images/logo.png);
    font-size: 0;
}

@media (max-width: 767px) {
   .hero-banner { padding: 35px 20px; width: 100%; margin-left: -20px; }
}

@media (max-width: 480px) {
    .hero-banner        { height: 200px; padding: 30px 20px; width: 100%; margin-left: -20px; }
    .hero-banner--logo  { width: 240px; height: 180px; background-image: url(../images/logo-small.png); }
}




/////////////////
// The Message //
/////////////////

.hero-cta { width: 80%; max-width: 560px; margin: 70px auto; color: #fff; }
.hero-cta--the-message { font-size: 30px; line-height: 36px; }
.hero-cta--the-button { @extend .big-button; margin-top: 40px; }

@media (max-width: 600px) {
    .hero-cta--the-message { font-size: 20px; line-height: 26px; }
}

@media (max-width: 480px) {
    .hero-cta { margin: 40px auto 70px; }
}




//////////////
// About Us //
//////////////

.about-us { background: $dark-grey; padding: 40px 0; margin-bottom: 70px; }
.about-us--typeset { @include box-sizing('border-box'); margin-left: 50%; width: 50%; padding: 5px; }

@media (max-width: 767px) {
   .about-us { padding: 40px 20px; width: 100%; margin-left: -20px; }
}

@media (max-width: 525px) {
   .about-us--typeset { margin: 0; width: auto; padding: 0; }
}




///////////////////
// The Hero Grid //
///////////////////

.hero-grid { width: 100%; padding: 5px 0; margin-bottom: 45px; }


// A box in our grid of different types of content

.hero-box { color: #fff; }

.hero-box--inner {
    position: absolute;
    top: 5px; right: 5px; bottom: 5px; left: 5px;

    background: $dark-grey;
}

.hero-box:nth-child(3n) > .hero-box--inner { background: $pink; }

.hero-box__quote:nth-of-type(2n) > .hero-box--inner { background: darken($dark-grey, 24%); }


// Different types of hero box

.hero-box__quote    { @extend .g-1x1; }
.hero-box__photo    { @extend .g-2x1; }
.hero-box__petition { @extend .g-2x2; text-align: center; }
.hero-box__video,
.hero-box__video__with-quote { @extend .g-2x1; }

.hero-box__photo,
.hero-box__video,
.hero-box__video__with-quote  {
    .hero-box--quote {
        top: 0; right: 0; left: 50%;
        margin: 0;
        padding: 10px 10px 10px 20px;

        &:before { left: 5px; }
    }

    .hero-box--author {
        left: 50%;
        padding: 10px 10px 10px 20px;
    }

    &:nth-child(odd) {
        .hero-box--quote { left: 0; right: 50%; }
        .hero-box--image,
        .hero-box--youtube-embed { right: 0; left: auto; }

        .hero-box--author { left: 0; }
    }
}

.hero-box__video,
.hero-box__video__with-quote {
    &:after {
        content: '';

        position: absolute;
        top: 50%; left: 25%;

        display: block;
        width: 40px; height: 40px;
        margin: -20px 0 0 -20px;

        z-index: 25;

        background: rgba($pink, .88) url(../images/play.png) no-repeat;

        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    &:nth-child(odd) {
        &:after { left: 75%; }
    }
}

.hero-box__video {
    .hero-box--image,
    .hero-box--youtube-embed { width: 100%; }
    .hero-box--quote { display: none; }
    .hero-box--author { left: 0; }

    &:after { left: 50% !important; }
}


// Different parts of the hero box

// Quote elements

.hero-box--author { position: absolute; right: 16px; bottom: 10px; left: 16px; z-index: 20; @include text-shadow(0 0 1px rgba(0, 0, 0, 0.32)); }
.hero-box--author--name,
.hero-box--author--credential { margin: 0; }
.hero-box--quote {
    position: absolute;
    top: 5px; right: 5px; left: 10px;
    margin: 0;
    padding: 5px;

    z-index: 20;

    @include text-shadow(0 0 1px rgba(0, 0, 0, 0.32));

    &:before {
        content: '“';
        display: block;
        position: absolute;
        left: -7px;
        font-weight: 600;
    }

    &:after {
        content: '”';
        font-weight: 600;
    }
}


// Photo elements

.hero-box--image {
    position: absolute;
    z-index: 10;
    left: 0;

    width: 50%; height: 100%;
    margin: 0;

    background-size: 100% auto;
    background-position: 50% 12%;

    @include filter(saturate(0%) brightness(50%));
}


// Video elements

.hero-box--video            { @extend .hero-box--image; z-index: 5; }
.hero-box--vine-embed       { @extend .hero-box--video; }
.hero-box--youtube-embed    { @extend .hero-box--video; }


// Petition elements

.hero-box--signature-count  { font-size: 200px; }
.hero-box--signatures       { font-size: 60px; }
.hero-box--and-counting     { font-size: 30px; }
.hero-box--sign,
.hero-box--sign:hover       { @extend .big-button; width: 80%; margin: 40px auto 0; }


// Different states of a hero box

.hero-box:hover {
    .hero-box--vine-embed, .hero-box--image { @include filter(saturate(100%)); }
}

@media (max-width: 1200px) {
    .hero-box--quote            { font-size: 17px; }
    .hero-box--signature-count  { font-size: 160px; }
    .hero-box--signatures       { font-size: 40px; }
    .hero-box--and-counting     { font-size: 20px; }
}

@media (max-width: 979px) {
    .hero-box--signature-count  { font-size: 120px; }
    .hero-box--signatures       { font-size: 30px; }
    .hero-box--and-counting     { font-size: 16px; }
    .hero-box--sign,
    .hero-box--sign:hover       { padding: 30px 15px; margin-top: 20px; }

    .hero-box__photo,
    .hero-box__video,
    .hero-box__video__with-quote {
        .hero-box--image    { top: 0; right: 0; bottom: 50%; left: 0; width: 100%; height: 50%; }
        .hero-box--quote    { top: 50%; right: 0; bottom: 0; left: 0; }
        .hero-box--author   { right: 0; bottom: 0; left: 0; }
    }
}

@media (max-width: 768px) {
    .hero-box--signature-count  { font-size: 68px; }
    .hero-box--sign,
    .hero-box--sign:hover       { padding: 15px 10px; font-size: 16px; }

    .hero-box__photo,
    .hero-box__video,
    .hero-box__video__with-quote {
        .hero-box--image    { bottom: 0; height: 100%; }
        .hero-box--quote    { display: none; }
    }
}

@media (max-width: 600px) {
    .hero-box--signature-count  { font-size: 200px; }
    .hero-box--signatures       { font-size: 60px; }
    .hero-box--and-counting     { font-size: 30px; }
}

@media (max-width: 525px) {
    .hero-box--signature-count  { font-size: 120px; }
    .hero-box--signatures       { font-size: 40px; }
    .hero-box--and-counting     { font-size: 20px; }
}




////////////////////
// Engage Section //
////////////////////

.engage                 { @extend .clearfix; text-align: center; }
.engage--thing          { position: relative; display: block; width: 25%; padding-bottom: 25%; float: left; }
.engage--thing,
.engage--thing:hover    { color: #fff; text-decoration: none; }
.engage--thing--inner   { position: absolute; top: 20px; right: 20px; bottom: 20px; left: 20px; padding: 5px; background: $pink; overflow: hidden; }
.engage--thing--icon    { display: block; width: 100px; height: 100px; margin: 0 auto; }
.engage--thing--head    {  }
.engage--thing--note    {  }
.engage--thing--link,
.engage--thing--link:hover { color: #fff; }

.engage--thing__twitter {
    @extend .engage--thing;

    .engage--thing--icon { background-image: url(../images/engage--twitter.png); }
}

.engage--thing__facebook {
    @extend .engage--thing;

    .engage--thing--icon { background-image: url(../images/engage--facebook.png); }
}

.engage--thing__instagram {
    @extend .engage--thing;

    .engage--thing--icon { background-image: url(../images/engage--instagram.png); }
}

.engage--thing__vine {
    @extend .engage--thing;

    .engage--thing--icon { background-image: url(../images/engage--vine.png); }
}

.engage--hashtag        { margin: 40px 0 40px; font-weight: 300; color: #fff; }

@media (min-width: 1200px) {
    .engage--thing--inner { padding: 40px 5px; }
}

@media (max-width: 768px) {
    .engage--thing          { width: 50%; padding-bottom: 50%; }
    .engage--thing--inner   { top: 10px; right: 10px; bottom: 10px; left: 10px; }
}




////////////
// Footer //
////////////

.contact-footer { text-align: center; padding: 80px 0 240px; }
.contact-footer--address,
.contact-footer--address:hover { color: #fff; text-decoration: none; font-size: 24px; }

// § //








